<center>
  <div class="title">
    <h1>Bienvenido complete su registro</h1>
  </div>

  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name,:size=>"50",:readonly => true %>
    </div><br>
    <div class="field">
      <%= f.label :like %><br>
      <%= f.text_area :like %>
    </div><br>
    <div class="field">
      <%= f.label :dislike %><br>
      <%= f.text_area :dislike, :rows => 8, :cols => 50 %>
    </div>
    <div class="actions">
      <%= f.submit "Save preferences" %>
    </div>
  <% end %>
</center>