<!DOCTYPE html>
<html>
<head>
  <title>SecretFriend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
    <%= link_to "Sign in", new_user_session_path if !current_user %>
    <div class="title">
      <h3>Welcome <strong><%= @my_email %></strong> to play love and friendship</h3>
    </div><br><br><br><br><br>
    <%= yield %>
  </center>
</body>
</html>